<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <title> trip photos </title>
    <link href="../static/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:200,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
<nav>
GTGTC Movie Database
</nav>

<div id="container" style="margin-top:3cm">
<table class="center">
<tr>
{% for colname in colnames %}
<th scope="col">{{ colname }}</th>
{% endfor %}
</tr>
{% for row in rows %}
<tr>
{% for elem in row%}
<td>{{ elem }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>

</div>

</body>
</html>
